* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text: #525252;
  --bg: #dbdbdb;
  --border: rgba(128, 128, 128, 0.3);
  --accent: #8e4d18;
  --shadow: rgba(0, 0, 0, 0.08) 0 10px 15px -3px, rgba(0, 0, 0, 0.04) 0 4px 6px -2px;

  /* letter-spacing: 0.05rem; */
  background: var(--bg);
  color: var(--text);
  text-rendering: optimizeLegibility;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  color: var(--text);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
