* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #dbdbdb;
  --color-accent: #8e4d18;
  --color-body-text: #525252;
  --color-header-text: #696969;
  --border: rgba(128, 128, 128, 0.3);
  --shadow: rgba(0, 0, 0, 0.08) 0 10px 15px -3px, rgba(0, 0, 0, 0.04) 0 4px 6px -2px;

  background: var(--color-bg);
  color: var(--color-body-text);
  text-rendering: optimizeLegibility;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  color: var(--color-header-text);
}
